/* AdminRegister.css */
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f7fafc, #e2e2e2); /* Gradient background for the page */
  }
  
  .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
    width: 100%;
    border-bottom: 4px solid #3e8e41;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    width: 40px;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .register-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
  }
  
  .register-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .input-error {
    border-color: red;
  }
  
  .register-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }
  
  .message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .register-form {
      padding: 30px;
      max-width: 90%;
    }
  }
  